* {
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 2.5vh;
}


body {
    min-width: 80%;
    font-size: 1.4rem;
    font-weight: bold;
    background: rgb(246, 234, 207);
    color: rgb(112, 75, 25);
    overflow: scroll;
}

h1 {
    font-size: 1.8rem;
    padding: 1.8rem 0 0.5rem 0;
    margin: 0 auto;
    text-align: center;
}

.container {
    width: 100vh;
    margin: 0 auto;
    background-color: #bba87bc0;
    padding: 0 2rem 1rem 2rem;
}

.grid_container {
    display: grid;
    margin: 0 auto;
    cursor: pointer;
    grid-template-columns: 0 1fr 2rem;
    grid-template-rows: 3rem 1fr;
}

.grid_container:hover > .item_4 {
    max-height: 60vh;
    max-width: 60vh;
    border: 0.1rem solid;

}

.grid_container:hover > .item_3 {
    transform: rotate(180deg);
}

.item_1 {
    appearance: none;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.item_1:checked ~ .item_4 {
    max-height: 60vh;
    max-width: 60vh;
    border: 0.1rem solid;
}

.item_1:checked ~ .item_3 {
    transform: rotate(180deg);
}

.item_2 {
    align-self: center;
    cursor: pointer;
}

.item_3 {
    justify-self: center;
    align-self: center;
    height: 1.4rem;
    width: 1.4rem;
    transition: transform .3s ease .2s;
}

.item_4 {
    grid-column: 1 / 4;
    justify-self: center;
    cursor: pointer;
    max-height: 0;
    max-width: 0;
    border: none;
    transition: max-height .3s, max-width .3s ease .2s
}
